// Get the "write" token in graphana topic in the OVH manager
#define TOKEN "put your OVH metrics token here"

// In the manager, the OpenTSDB server is specified put it here
#define OPENTSDB_HOST "opentsdb.gra1.metrics.ovh.net"

// In the manager, the Warp10 server is specified put it here
#define WARP10_HOST "warp10.gra1.metrics.ovh.net"

// SHA1 fingerprint of the certificate
// Use this script by replacing <HOST> by the host you want to get the fingerprint
// OPENTSDB=<HOST>; echo | openssl s_client -showcerts -servername ${OPENTSDB} -connect ${OPENTSDB}:443 2>/dev/null | openssl x509 -noout -fingerprint -sha1 -inform pem | sed -e "s/.*=//g" | sed -e "s/\:/ /g"
#define FINGERPRINT "32 E6 54 92 EB FF F4 CE 2D 93 5E 65 EE 48 4D BA B2 53 D9 E2"

// wifi parameters
#define WIFI_SSID "ssid name"
#define WIFI_PASSWORD "ssid password"

// Name of the metrics (no spaces in the name)
#define SENSOR_NAME "sensor_name"